:root{
    --x:4px;
    --xx:8px;
    --xxx:16px;
    --xxxx:32px;
    --xxxxx:64px;
}
/* VARIOUS */
.hidden {
    display:none;
}
.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

[data-display="flex"] {
    display:flex;
}
[data-display="none"] {
    display:none;
}

/* FLOAT */
.fl-r{
    float: right;
}
.fl-l{
    float:left;
}
/* POSITION */
.pos-r {
    position:absolute;
}
.pos-a {
    position:relative;
}

/* FLEXBOX */
.fbox-c {
    display:flex;
    flex-direction:column;
}
.fbox, .fbox-r {
    display:flex;
    flex-direction:row;
}
.jcc {
    justify-content:center;
}
.jcsb {
    justify-content:space-between;
}
.jcsa {
    justify-content: space-around;
}
.jcfe {
    justify-content: flex-end;
}
.aic {
    align-items:center;
}


/*  PAD */
.p-0 {
    padding:0;
}
.p-1 {
    padding:var(--x);
}
.p-2 {
    padding:var(--xx);
}
.p-3 {
    padding:var(--xxx);
}
.p-4 {
    padding:var(--xxxx);
}
.p-5 {
    padding:var(--xxxxx);
}
/*top*/
.pt-0 {
    padding-top:0;
}
.pt-1 {
    padding-top:var(--x);
}
.pt-2 {
    padding-top:var(--xx);
}
.pt-3 {
    padding-top:var(--xxx);
}
.pt-4 {
    padding-top:var(--xxxx);
}
.pt-5 {
    padding-top:var(--xxxxx);
}

/*bottom*/
.pb-0 {
    padding-bottom:0;
}
.pb-1 {
    padding-bottom:var(--x);
}
.pb-2 {
    padding-bottom:var(--xx);
}
.pb-3 {
    padding-bottom:var(--xxx);
}
.pb-4 {
    padding-bottom:var(--xxxx);
}
.pb-5 {
    padding-bottom:var(--xxxxx);
}
/*left*/
.pl-0 {
    padding-left:0;
}
.pl-1 {
    padding-left:var(--x);
}
.pl-2 {
    padding-left:var(--xx);
}
.pl-3 {
    padding-left:var(--xxx);
}
.pl-4 {
    padding-left:var(--xxxx);
}
.pl-5 {
    padding-left:var(--xxxxx);
}
/*right*/
.pr-0 {
    padding-right:0;
}
.pr-1 {
    padding-right:var(--x);
}
.pr-2 {
    padding-right:var(--xx);
}
.pr-3 {
    padding-right:var(--xxx);
}
.pr-4 {
    padding-right:var(--xxxx);
}
.pr-5 {
    padding-right:var(--xxxxx);
}

/* MARGIN */
.m-0 {
    margin:0;
}
.m-1 {
    margin:var(--x);
}
.m-2 {
    margin:var(--xx);
}
.m-3 {
    margin:var(--xxx);
}
.m-4 {
    margin:var(--xxxx);
}
.m-5 {
    margin:var(--xxxxx);
}

/*top*/
.mt-0 {
    margin-top:0;
}
.mt-1 {
    margin-top:var(--x);
}
.mt-2 {
    margin-top:var(--xx);
}
.mt-3 {
    margin-top:var(--xxx);
}
.mt-4 {
    margin-top:var(--xxxx);
}
.mt-5 {
    margin-top:var(--xxxxx);
}

/*bottom*/
.mb-0 {
    margin-bottom:0;
}
.mb-1 {
    margin-bottom:var(--x);
}
.mb-2 {
    margin-bottom:var(--xx);
}
.mb-3 {
    margin-bottom:var(--xxx);
}
.mb-4 {
    margin-bottom:var(--xxxx);
}
.mb-5 {
    margin-bottom:var(--xxxxx);
}

/*left*/
.ml-0 {
    margin-left:0;
}
.ml-1 {
    margin-left:var(--x);
}
.ml-2 {
    margin-left:var(--xx);
}
.ml-3 {
    margin-left:var(--xxx);
}
.ml-4 {
    margin-left:var(--xxxx);
}
.ml-5 {
    margin-left:var(--xxxxx);
}

/*right*/
.mr-0 {
    margin-right:0;
}
.mr-1 {
    margin-right:var(--x);
}
.mr-2 {
    margin-right:var(--xx);
}
.mr-3 {
    margin-right:var(--xxx);
}
.mr-4 {
    margin-right:var(--xxxx);
}
.mr-5 {
    margin-right:var(--xxxxx);
}

/* WIDTH */
.w-100p { width:100%;}
.w-100vw { width:100vw; }
.minw-100p { min-width:100%;}
.maxw-100p { max-width:100%;}
.w-auto { width:auto;}